<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.suramire.myapplication">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:name=".base.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Source Code BBS"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".test.TestRecyclerView"/>

        <activity android:name=".activity.NoteDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.SettingsActivity"
            android:label="系统设置"/>
        <activity android:name=".activity.TestActivity"/>
        <activity android:name=".activity.SystemSettingsActivity"/>
        <activity android:name=".activity.PhotoSelectActicity"
            android:label="选择头像"/>
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <service android:name=".service.PostService"/>
        <activity android:name=".activity.ReceiveActivity"/>
        <activity android:name=".activity.NoteByTypeActivity"/>
        <activity android:name=".activity.HistoryActivity"
            android:label="历史记录"/>
        <activity android:name=".activity.UserReceive"
            android:label="回帖记录"/>

        <!--zjw-->
        <activity android:name="com.zjw.user.LoginActivity"
            android:label="登录界面"/>
        <activity android:name="com.zjw.user.RegisterActivity"/>
        <activity android:name="com.zjw.admin.AdminLoginActivity"/>

        <!--zxf-->
        <activity android:name="com.zxf.scode.Login"/>
        <activity android:name="com.zxf.scode.Information"
            android:label="个人信息修改"/>
        <activity android:name="com.zxf.scode.MyInformation"/>

        <!--zlw-->
        <activity android:name="com.zlw.PostedActivity"
                  android:label="发帖记录"
            />
        <activity android:name="com.zlw.updateNote"
            android:label="编辑帖子"/>
        <activity android:name="com.zlw.NewNote"
                  android:theme="@style/AppTheme.NoActionBar"
            android:label="发表新帖子"/>
    </application>

</manifest>